<div class="jumbotron mt-4">
  <h1 class="display-4">CONTROL DE CONSUMO DE LOS ELECTRODOMESTICOS!</h1>
  <p class="lead">La eficiencia energética es un concepto clave, pues se refiere al conjunto de acciones
realizadas para promover una reducción de la cantidad de energía utilizada para producir un
bien o servicio con el menor impacto sobre el medio ambient</p>
  <hr class="my-4">

</div>
